<div class="info_legali">
    <div class="flexer">
    <div class="col_1">
        <p><strong>MARIA BEATRICE HOSPITAL SRL – PRESIDIO MARIA TERESA</strong><br>
Sede Legale: Via Manzoni, 12 – 50121 FIRENZE&nbsp;-&nbsp;Codice Fiscale, Partita IVA e n. iscriz. Reg. Imprese FI 01171680489<br>
PEC:&nbsp;<a href="mailto:gvm-vmt@legalmail.it" target="_blank">gvm-vmt@legalmail.it</a><br>
Aut. San. rilasciata dal Comune di Firenze&nbsp; con Provvedimento Dirigenziale Numero 2016/DD/04288 del 10/06/2016<br>
<strong>Accreditata con il Servizio Sanitario Nazionale<br>
Società soggetta all’attività di direzione e coordinamento di Gruppo Villa Maria S.p.A</p>
    </div><!-- .col_1 -->
    <div class="col_2">
        Organismo di Vigilanza</strong><br>
Tel: 0545.909812<br>
E-mail: organismodivigilanza@gvmnet.it<br>
Indirizzo: Piazza Trisi 6, 48022 Lugo (RA)<br><br>
<strong>DPO</strong>: avv. Sara Bravi<br>
        Tel: 02.885561<br>
        Email: privacy-respamm@gvmnet.it<br>
        PEC: gvm-dpo@legalmail.it
    </div><!-- .col_2 -->
    <div class="col_3">
        
    </div><!-- .col_3 -->
    </div><!-- .flexer -->
</div><!-- .info_legali -->