<div class="info_legali">
    <div class="flexer">
    <div class="col_1">
        {{convertRTFToHTML c_datiAmministrazione_1}}
    </div><!-- .col_1 -->
    <div class="col_2">
        {{convertRTFToHTML c_datiAmministrazione_2}}
    </div><!-- .col_2 -->
    <div class="col_3">
        
    </div><!-- .col_3 -->
    </div><!-- .flexer -->
</div><!-- .info_legali -->