<footer class="footer">
  <div class="bg-blue">
      <div class="footer-links">
        <div class="order-lg-3">
  <a href="https://www.gvmspa.it/it-IT/contatti?c=ufficio-stampa" target="_blank">Ufficio stampa</a><a href="https://www.gvmspa.it/it-IT/lavora-con-noi" target="_blank">Lavora con noi</a><a href="https://gvminside.domgesa.grp/it/user/login?destination=/it" target="_blank">Intranet Aziendale</a>
        </div>  
  <div>
  <span>© GVM Care &amp; Research. Tutti i diritti riservati.</span>
  <a href="/Privacy-Policy">Privacy Policy</a>
  <a href="/Cookie-Policy">Cookie Policy</a>
      </div>
    </div>
  </div>
    <div class="bottom container px-xl-5">
    <div><strong>Gruppo Villa Maria Spa</strong></div>
<div>Sede legale: c.so Garibaldi, 11 - 48022 Lugo (RA)</div>
<div>CF. PI 00423510395</div>
<div><a href="https://www.gvmspa.it/" target="_blank">Gvmspa.it</a></div><div class="credits">An <a href="https://www.elogic.it/" target="_blank">eLogic Project</a> Powered by <a href="https://www.kentico.com/" target="_blank">Xperience</a></div>
  </div>
</footer>