<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
   Ospedali - GVM
</title>
<meta name="description" content="Trova le cliniche GVM">
<meta name="author" content="Gruppo Villa Maria">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" as="script" />
<!-- <link rel="preload" href="https://cookie-cdn.cookiepro.com/consent/c54082c8-37c1-441f-99c2-972f4ecddf88-test/OtAutoBlock.js" as="script" />
<link rel="preload" href="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js" as="script" /> -->
<link rel="preload" href="/main.css" as="style" />
<link rel="preload" href="https://use.typekit.net/yfq1avx.css" as="style">
{{!-- <link rel="preload" href="/main.js" as="script" /> --}}
<link rel="preload" as="image" href="/images/gruppovillamaria_logo.png">
<link rel="preload" as="image" href="/images/yext-favicon.png">
<link rel="canonical" href="https://ospedali.gvmnet.it/" />
<link rel="stylesheet" href="https://use.typekit.net/yfq1avx.css">
<link rel="stylesheet" href="/main.css" />
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{!-- <script defer src="/main.js"></script> --}}
<link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png" />
<meta property="og:url" content="{{c_baseURL}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Ospedali - GVM" />
<meta property="og:description" content="Trova le cliniche GVM" />
<meta property="og:image" content="/images/gvm-care-and-research.jpg" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@GVMCareResearch">
<meta name="twitter:creator" content="@GVMCareResearch">
<meta name="twitter:title" content="Ospedali - GVM">
<meta name="twitter:description" content="Trova le cliniche GVM">
<meta name="twitter:image" content="/images/gvm-care-and-research.jpg">
{{>scripts}}