<div class="header">
    <div class="spacer">
        <div class="header_left">
            <a href="#" class="logo_gvm"><img src="https://www.gvmnet.it/App_Themes/GVMNet/images/gruppovillamaria_logo.png" alt="{{name}}" /></a>

            <div class="tagline">
                <svg class="svg-inline--fa fa-caret-right fa-w-6 fa-2x mr-1 mr-md-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg=""><path fill="currentColor" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>
                <div>
                    <h1 class="facility-name"><a class="link-heading" href="{{c_baseURL.url}}">{{name}}</a></h1>
                    <span class="facility-location">{{address.city}}</span>
                </div>
            </div><!-- .tagline -->
        </div><!-- .header_left -->
        <div class="header_right">
            <a href="#" class="trigger trigger_prenota">Prenota</a>
            <a href="#" class="trigger trigger_struttura">Visita la struttura</a>
        </div><!-- .header_right -->
    </div><!-- .spacer -->
</div><!-- .header --> 