<!--<div class="iniziative_correlate_container  flex items-stretch justify-center flex-wrap">
    <div class="intro">
    <h2 class="titolo_descrizione_lunga">Iniziative in corso</h2>
    </div>
    {{#each c_iniziativeCorrelate}}
        <a href="{{this.c_baseURL}}" target="_blank" class="w-1/4 p-3  col_iniziativa_link">
        <div class="col_iniziativa_image" style="background-image: url('{{#with this.primaryPhoto.image.thumbnails.[2]}}{{url}}{{/with}}');"></div>
        <h3 class="col_iniziativa_title">
        {{this.name}}
        </h3>
        <div class="col_iniziativa_description">
            {{this.c_descrizioneBreve}}
        </div>
        <div class="col_iniziativa_fake_link">
            <i class="fa fa-caret-right"></i> Ulteriori informazioni
        </div>
        </a>
    {{/each}}
</div>-->