<div class="section" data-ya-scope="SectionListRegione">
    <div class="container">
        <div class="lista_regioni">
            <h5 class="title_nearby">Ospedali GVM per Regione</h5>
            <ul class="regioni-list">
                <li data-ya-track="CTAListRegione_Emilia Romagna"><a href="emilia-romagna" title="Ospedali GVM in Emilia Romagna">Emilia Romagna</a></li>
                <li data-ya-track="CTAListRegione_Lazio"><a href="lazio" title="Ospedali GVM nel Lazio">Lazio</a></li>
                <li data-ya-track="CTAListRegione_Liguria"><a href="liguria" title="Ospedali GVM in Liguria">Liguria</a></li>
                <li data-ya-track="CTAListRegione_Lombardia"><a href="lombardia" title="Ospedali GVM in Lombardia">Lombardia</a></li>
                <li data-ya-track="CTAListRegione_Piemonte"><a href="piemonte" title="Ospedali GVM in Piemonte">Piemonte</a></li>
                <li data-ya-track="CTAListRegione_Puglia"><a href="puglia" title="Ospedali GVM in Puglia">Puglia</a></li>
                <li data-ya-track="CTAListRegione_Sicilia"><a href="sicilia" title="Ospedali GVM in Sicilia">Sicilia</a></li>
                <li data-ya-track="CTAListRegione_Toscana"><a href="toscana" title="Ospedali GVM in Toscana">Toscana</a></li>
                <li data-ya-track="CTAListRegione_Veneto"><a href="veneto" title="Ospedali GVM in Veneto">Veneto</a></li>
            </ul>
        </div>
    </div><!-- .container -->
</div><!-- .section -->