<div class="section">
    <div class="container regioni-lista-container">
        <h5 class="mb-3 text-bold titolo_descrizione_lunga md:mb-5">Elenco degli ospedali GVM in Italia</h5>
        <p>Trova gli ospedali gvm pi&ugrave; vicini</p>
        <div class="bg-gray-100 regioni-list">
            <ul class="regioni-list-inner">
                <li><a href="emilia-romagna">Emilia Romagna</a></li>
                <li><a href="lazio">Lazio</a></li>
                <li><a href="liguria">Liguria</a></li>
                <li><a href="lombardia">Lombardia</a></li>
                <li><a href="piemonte">Piemonte</a></li>
                <li><a href="puglia">Puglia</a></li>
                <li><a href="sicilia">Sicilia</a></li>
                <li><a href="toscana">Toscana</a></li>
                <li><a href="veneto">Veneto</a></li>
            </ul>
        </div>
    </div>
</div>