<div class="section">
    <div class="container">
        <ul>
            {{#each dm_directoryChildrenRegione}}
            <li><a href="{{this.slug}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
