<div class="section" data-ya-scope="SectionListRegione">
    <div class="container">
        <div class="lista_regioni">
            <h5 class="title_nearby">Ospedali GVM per Regione</h5>
            <ul class="regioni-list">
            </ul>
        </div>
    </div><!-- .container -->
</div><!-- .section -->

<script>
    Handlebars.compile("{{#with id}}");
    var a = new Array;
    "{{#each dm_directoryChildren}}"
    a.push([["{{this.name}}"], ["{{this.slug}}"]]);
    "{{/each}}"

    a.sort(function (a, b) {
        if (a[0] < b[0]) {
            return -1;
        }
        if (a[0] > b[0]) {
            return 1;
        }
        return 0;
    });
    document.addEventListener("DOMContentLoaded", function () {
        var i;
        for (i = 0; i < a.length; i++) {
            var regioni = "<li data-ya-track='CTAListRegione_" + a[i][0] + "'><a href=" + a[i][1] + " title='Ospedali GVM in " + a[i][0] + "'>" + a[i][0] + "</a></li>";
            document.getElementsByClassName("regioni-list").innerHTML += regioni;
        }

    });
    Handlebars.compile("{{/with}}");
</script>