---
{
    "stream": {
        "$id": "ce_city",
        "filter" : {
            "entityTypes": ["ce_city"]
        },
        "fields": [
            "id",
            "uid",
            "meta",
            "name",
            "slug",
            "dm_directoryParents.name",
            "dm_directoryParents.slug",
            "dm_directoryParents.meta.entityType",
            "dm_directoryParents.c_addressRegionDisplayName",
            "dm_directoryChildren.name",
            "dm_directoryChildren.address",
            "dm_directoryChildren.mainPhone",
            "dm_directoryChildren.slug",
            "dm_directoryParentRegione.name",
            "dm_directoryParentRegione.slug"
        ],
        "localization": {
            "locales": ["it"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="it">
<head>
    {{>head }}
</head>
<body class="relative">
  

</body>

</html>
