---
{
     "stream": {
        "$id": "iniziativa",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "ce_iniziativa"
            ]
        },
        "fields": [
            "id",
            "uid",
            "meta",
            "name",
            "slug",
            "c_struttureCorrelate.name",
            "c_struttureCorrelate.slug",
            "c_struttureCorrelate.c_baseURL",
            "c_struttureCorrelate.address.city",
            "c_struttureCorrelate.c_urlPrenotazione"
        ],
        "localization": {
            "locales": ["it"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    {{>head }}
    <title>{{name}}</title>
    {{>schema}}
    <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png" />
</head>
<body class="relative">
    {{>iniziativa-page}}
</body>

</html>


