---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "healthcareFacility"
            ]
        },
        "fields": [
             "id",
            "uid",
            "meta",
            "name",
            "c_nomeStruttura",
            "address",
            "c_regione",
            "mainPhone",
            "description",
            "c_descrizioneLunga",
            "hours",
            "photoGallery",
            "slug",
            "c_immagineStruttura",
            "c_immagineSpecialita",
            "c_immagine_cartina",
            "c_descrizioneBreve",
            "geocodedCoordinate",
            "services",
            "c_baseURL",
            "c_urlPrenotazione",
            "c_urlContatti",
            "c_urlOrari",
            "websiteUrl",
            "neighborhood",
            "paymentOptions",
            "primaryPhoto",
            "c_iniziativeCorrelate.primaryPhoto",
            "c_iniziativeCorrelate.c_descrizioneBreve",
            "c_iniziativeCorrelate.c_baseURL",
            "c_iniziativeCorrelate.slug",
            "c_iniziativeCorrelate.name",
            "c_listaSpecialità",
            "c_contenutiInEvidenza",
            "c_direttoreSanitario",
            "c_amministratoreDelegato",
            "c_postiLetto",
            "c_datiAmministrazione_1",
            "c_datiAmministrazione_2",
            "c_elencoSpecialitaStrutturaGVM",
            "c_elencoServiziStrutturaGVM",
            "c_urlTutteLeSpecialita"
        ],
        "localization": {
            "locales": ["it"]
        },
        "transform": {            
             "replaceOptionValuesWithDisplayNames": ["c_regione"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    {{>head }}
    <title>{{name}} - {{neighborhood}}</title>
    {{>schema}}
    <link rel="shortcut icon" type="image/jpg" href="/images/yext-favicon.png" />
</head>
<body class="relative">
    {{>header_elogic}}
    <div class="section section_main_banner">
        {{>main_banner}}
    </div>
    <div class="section section_location_details">
        {{>locationdetails}}
    </div>
    <div class="section">
        <div class="container">
            <div class="">{{>aboutmap}} </div>
        </div>
    </div>
    <div class="section background_specialita">
        <div class="container">
            {{>evidenza}}
        </div>
    </div>
    <div class="section background_specialita">
        <div class="container">
            {{>specialita_servizi}}
        </div>
    </div>
    <!-- <div class="section background_iniziative">
         <div class="container">
             {{>iniziative}}
         </div>
     </div>-->
    <div class="section">        
        <div class="container">
            <div class="">{{>nearby geocodedCoordinate}}</div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            {{>dati_legali}}
        </div>
    </div><!-- new data_legal -->
    <div class="w-full">
        {{>footer}}
    </div>

</body>

</html>


