---
{
    "stream": {
        "$id": "ce_region",
        "filter" : {
            "entityTypes": ["ce_region"]
        },
        "fields": [
            "id",
            "name",
            "slug",
            "description",
            "dm_directoryChildren.c_nomeStruttura",
            "dm_directoryChildren.name",
            "dm_directoryChildren.id",
            "dm_directoryChildren.slug",
            "dm_directoryChildren.address",
            "dm_directoryChildren.c_immagineStruttura"
        ],
        "localization": {
            "locales": ["it"]
        }
    },
    "urlFormat" : "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="it">
<head>
    {{>head}}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVQ4R5G"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>nav}}
    {{>regione_page}}
    <div class="w-full">
        {{>footer}}
    </div>
</body>
</html>




