@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.15;
}

/* Header Styline */

.topnav #myLinks {
    display: none;
}

.headerLink {
    @apply font-semibold; 
}

/* Map Styling */

.lista_struttura_mappa a{
    color: #008dc9;
}

.error-text {
    padding-bottom: 10px;
    color: red;
}

#openorclosed{
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    font-family:pt-sans-narrow,sans-serif;
}
#openorclosed.open{
    color: #0ea80e;
}
#openorclosed.close{
    color: #555;
}

.text-bold{
    font-weight: bold;
}

#map {
    background-color: #e9ecef;
    flex-grow: 1;
    width: 100%;
}

.search-center {
    margin-top: 1rem;
}

.directions {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.header-section {
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.result {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
}

.right-column {
    display: flex;
    align-items: center;
}

.center-column {
    flex-grow: 1;
}

.name {
    font-weight: bold;
}

.left-column {
    width: 2em;
}

.panel {
    display: flex;
    flex-direction: column;
    @apply bg-gray-50;
    width: 700px;
    overflow: hidden;
}

.result-list {
    overflow-x: hidden;
}

.search-bar {
    display: flex;
}

.search-location-arrow {
    cursor: pointer;
}

.search-bar-icon {
    cursor: pointer;
}

.search {
    margin-left: 0.5rem;
}


.full-width-locator {
    width: 100%;
    display: flex;
}

.spinner {
    margin: 2rem 0;
    min-height: 40px;
}

.form label {
    @apply text-sm mt-4 block mb-1;
}

.form input {
    @apply border border-ll-blue w-full block py-1 px-2;
}

.form select {
    @apply border border-ll-blue w-full block py-1 px-2;
}

.title-narrow {
    font-family: pt-sans-narrow,sans-serif;
    text-transform:uppercase;
}


/* Body Styling */

body {
    @apply bg-white text-ll-blue;
    background: #EEE;
    font-family: proxima-nova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #555;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

h4 {
    @apply text-lg font-bold;
}

.hero {
    background: url(images/luxurystore.jpeg);
    background-position: center;
}

.centered-container {
    @apply mx-auto px-5 md:px-14 max-w-screen-xl; 
}

.skeleton {
    @apply bg-gray-300 animate-pulse rounded-sm;
}

h2.section-header {
    @apply border-b pb-2 mb-3;
}

.section {
   margin:20px 0 0 0;
   padding:0;
}

.btn {
    @apply border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg text-center focus:outline-none flex gap-2 items-center justify-center;
}

.btn-primary {
    @apply bg-ll-red text-white border-ll-red focus:ring-2 focus:bg-red-900;
}

.btn-secondary {
    @apply text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100;
}

.btn-link {
    @apply hover:bg-gray-100 focus:ring-2 focus:bg-gray-100;
}

.button-blue {
    display: inline-flex;
    background: #008dc9;
    font-family: proxima-nova, sans-serif;
    color: #FFF;
    font-weight: 600;
    margin: 10px 0;
    border-radius: 100px;
    padding: 10px 24px;
    transition: 0.3s;
    line-height: 1em;
    align-items:center; 
    cursor: pointer;
}
.button-blue:hover{
    background: #0d384b;
}

.error-text {
    padding-bottom: 10px;
    color: red;
}

.header {
    background: linear-gradient(to right, #fff 50%, #008dc9 50%);
}

.header_sticky {
  /*  display: flex;*/
}

.sticky{
    z-index: 100;
}



.header .spacer {
    max-width: 1110px;   
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    flex-wrap: wrap; 
    background: #008dc9;  
    align-items: center;
}

.header_left {
    display: flex;
    flex-grow: 1;
    padding: 0 .5rem;
}

.logo_gvm{
    position: relative;
    padding: 10px 0;
    margin-right: .5rem;
    display: block;
    margin-left: 0;
}
.logo_gvm img{    
    z-index: 1;
    position: relative;
    width: auto;
}

.logo_gvm:before{
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: -20px;
    right: -20px;
    transform: skewX(20deg);
    transform-origin: bottom left;
    background-color: #fff;
}
.header .tagline{
    color: #fff;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: .25rem 0;
    font-family: pt-sans-narrow,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}
.header .tagline>svg,.header .tagline>.fas{
    color: #ffce00;
}
.header .fa-2x {
    font-size: 2.5em;
}

.header .svg-inline--fa.fa-w-6 {
    width: .27em;
}

.header .mr-1, .header .mx-1 {
    margin-right: .25rem!important;
}

/*
.main_banner_container .spacer{
    max-width: 1110px;
    margin: 0 auto;
    width: calc(100% - 30px);
}*/

.header .spacer {
    margin: 0 auto;
    width:100%;
}

.header .tagline .facility-name {
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.tagline .facility-name, .tagline .facility-location {
    font-size: 1rem;
}

.header_right {
  /*  display:none; */
}

.header_right a{
    transition: all 0.3s ease-in-out;
}
.header_right a:hover{
    opacity: 1;
    background: #00405c;
    color: #FFF;
    border-color: #00405c;
}

.header_sticky {
    width: 100%;
    background: linear-gradient(to bottom,#0d384b,#00405c 30%,#165e93);
}

.header_sticky a{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.header_sticky a:hover{
        opacity: 0.5;
}

.trigger {
    font-family: proxima-nova,sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
}

.trigger .menu-label {
    font-size: .625rem;
    letter-spacing: 1px;
    margin-top: .25rem;
    font-weight:300;
}


.trigger_prenota {
    background-color: #0ea80e;   
}

.svg-inline--fa {
/*    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;*/
}

.sidebar_lista_link{
    border:1px #EEE solid;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}

.sidebar_lista_link a {
    display: flex;
    /* background: #008dc9; */
    font-family: proxima-nova, sans-serif;
    color: #008dc9;
    font-weight: 600;
    margin: 0px 0;
    /* border-radius: 100px; */
    padding: 5px 0px;
    transition: 0.3s;
}

.sidebar_lista_link a:hover{
    opacity: 1;
    cursor: pointer;
    color: #00405c;
}
.sidebar_lista_link .button_prenota{
    background: #0ea80e;
}

.titolo_descrizione_lunga{
    color: #23475D;
}
.descrizione_lunga p{
    margin-bottom: 10px;
}

.descrizione_lunga ul {
    margin-bottom: 10px;
}

.descrizione_lunga li{
    /* display: block;
    list-style: circle; 
    padding-left: 15px;  */
}

.immagine_cartina {
    background-position: center center;
    background-size:cover;
    height: 200px;
}
/* SPECIALITA CORRELATE */
.link_specialita {
    background: #FFF;
    display: block;
}

.background_specialita{
    /* background: rgba(234,243,249,0.8); */
}

/* INIZIATIVE CORRELATE */

.intro{
    width: 100%;
    text-align: left;
    padding: 0;
}

.intro h2{
   padding-left: 15px; 
}

.intro {
    margin-bottom:15px; 
}
.intro p {
    padding-left: 15px; 
    /* font-family: pt-sans-narrow,sans-serif; */
    margin-top: 5px;
}

.specialita_container {
    min-height: 350px;
    padding: 15px;
    width:100%;
}

.col_specialita_image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    padding-bottom: 20%;
}
.bg_white {
    background-color:#fff;
}
ul {
    list-style: disc;
    list-style-position: inside;
}
.title  {
    text-transform:uppercase;
}
.col_specialita_content {
    width:100%;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding:10px 0px;
}
.col_specialita_content .specialita {
    width: 100%;
}
.col_specialita_content .servizi {
    width: 100%;
    margin-top: 10px;
}

.specilita_servizi{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.col_specialita_content .title {
    display: block;
    font-size: 1.5rem;
    color: #23475D;
    font-weight:800;
}
.col_specialita_content ::marker {
    color: #23475D;
}

.col_specialita_content .link {
    margin-top: auto;
}
.text-regular {
    font-weight: 400;
}


.col_iniziativa_link{
    display: block;
    transition: 0.3s;
}

.col_iniziativa_link:hover{
    background: rgba(19,72,95,.05);
}

.background_iniziative{
    background: #FFF;
}

.col_iniziativa_title{
    color:#008dc9;
    padding: 10px 0 5px 0;
    line-height: 1.1em;
}
.col_iniziativa_description{
    font-size: 14px;
}
.col_iniziativa_image{
    height: 120px;
    background-position: center center;
    background-size: cover;
}
.col_iniziativa_fake_link{
    font-weight:bold;
    font-size: 14px;
    color: #00405c;
    margin-top: 10px;
}


.main_banner_links a{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}
.main_banner_links a:hover strong, .main_banner_links a:hover svg{
    color: #0d384b !important; 
}
.main_banner_links a span{
    font-size: 13px;
}
.main_banner_links strong{
    color:#008dc9;
    transition: all 0.3s ease-in-out;
    display: block;
    font-size: 16px;
}
.main_banner_links span{
    display: block;
}
.main_banner_links div{
    line-height: 1;
}
.main_banner_links svg{
    transition: all 0.3s ease-in-out;
    color:#008dc9;
    margin-right: 10px;
    font-size: 28px;
}

.main_banner_info{
    background: #FFF;
    padding: 20px 15px;
}

.box_cartina_orari{
    background:#FFF;    
}

.box_informazioni{
    background: #FFF;
}

.box_informazioni_link{
    padding:0 15px 15px 15px;
}

.container_descrizione{
    padding: 20px 15px 0 15px;
}

.dati_struttura_governance{
    padding-top: 20px;
}

.narrow_title{
    font-family: pt-sans-narrow,sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 25px;
    line-height: 1em;
    text-transform: uppercase; 
}

.big_title{
    color: #0d384b;
    text-transform: uppercase;
    line-height: 1;
    font-size: 24px;
}

.via_struttura{
    text-transform: uppercase;
    color: #008dc9;
    font-weight: normal;
    font-family: pt-sans-narrow,sans-serif; 
    line-height: 1em;
    margin-bottom: 15px;
}
.via_struttura:hover{
    color: #00405c;
}

.hours strong{
    font-weight: normal;
    text-transform: capitalize;
}

.box_orari{
    padding: 15px;
}

.link_specialita{
    margin-top: 10px;
}
.link_specialita:first-child{
    margin-top: 0; 
}

.link_specialita .text{
    padding: 15px;
}


.box_inevidenza {
    width: 100%;
    background: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 40px;
}


.box_inevidenza .bg_box {
    height:150px;
    width:100%;
    background-size: cover;
    background-position: center center;
}

.giorno_attivo strong, .giorno_attivo div{
    font-weight: bold !important;
}

.box_inevidenza .content {
    padding: 15px 20px;
}

.title_inevidenza {
    font-family: proxima-nova, sans-serif;
    color: #008dc9;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom:10px;
}

.link_inevidenza {
    display: flex;
    font-family: proxima-nova, sans-serif;
    color: #008dc9;
    font-weight: 600;
    margin-top:15px;
    position: absolute;
    bottom: 20px;
}


.link_inevidenza a {
    display: flex;
}

.location-data{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.container_nearby{
    padding: 20px 10px;
}

.location_nearby{
    flex-basis: 100%;
    background:rgba(255,255,255,0.5);
    margin-top: 15px;
    transition:0.3s;
}
.location_nearby .grid{
    padding: 15px;
}
.location_nearby .name{
    color: #008dc9;
    font-family: pt-sans-narrow,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 1em;
}
.location_nearby .address{
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}

.title_nearby{
    color: #0d384b;
}

.location_nearby .image{
    height: 150px;
    padding-bottom: 20%;
    margin-bottom: 15px;
    background-position: center center;
    background-size: cover;
}

.location_nearby:hover{
    background: #FFF;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.info_legali{
    color:#999;
    font-size: 12px;
}

.info_legali .col_2{
    margin: 20px 0;
}
.info_legali .flexer{
    padding: 20px;
}

.footer .bottom > div{
    margin: 10px 0;
}

.footer a{
    color:rgba(0,141,201,1);
    transition: all 0.3s ease-in-out;
}
.footer a:hover{
    opacity: 0.5;
}

.credits{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #AAA;
    font-size: 13px;
}
.credits a{
    color: #888;
}

.bg-blue {
    background-color: #008dc9;
    color: #fff;
    padding-top: 30px;
}

.footer-links{
    font-size: .9375rem;
    padding: .625rem 0 1.5rem;
    border-top: 1px solid rgba(255,255,255,.3);
    width: 100%;
    max-width: 1080px;
    margin: 0px auto 0 auto;
}

.footer-links>div>span, .footer-links>div>a {
    margin: .5rem .25rem 0;
    color: #FFF;
}

.footer-links>:first-child {
    margin-bottom: .5rem;
    padding-bottom: 1.125rem;
    border-bottom: 1px solid rgba(255,255,255,.3);
    }

.footer-links>div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
/* Media Queries */
@media (min-width:360px) {
    .tagline .facility-name, .tagline .facility-location {
    font-size: 1rem;
} 
}

.logo_gvm {
    cursor: pointer; 
}
/* .logo_gvm:hover{
    opacity: 0.5;
} */

.logo_gvm img {
    height: 32px;
    cursor: pointer;
}
.box_inevidenza .bg_box{
    height: 200px;    
}

@media (min-width:576px){
    .footer-links>div>a {
        margin: .5rem .75rem 0;
    }
}
 
@media (min-width:768px) {
    .footer .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer .container > div{
        
    }
    .info_legali .flexer{
        display: flex;
        justify-content:center;
        align-items: flex-start;
        padding: 20px 0;
    }
    .info_legali .col_1{
        width: calc(50% - 20px);
        margin-top: 0;
        margin-right: 20px;
    }
    .info_legali .col_2{
        width: calc(30% - 20px);
        margin-top: 0;
        margin-left: 20px;
    }
    .inevidenza_container{
        margin-left: -10px;
        margin-right: -10px;
    }
    .inevidenza_container .titolo_descrizione_lunga{
        padding-left: 25px;
    }
    .inevidenza_container .intro{
        margin-bottom: 0;
    }
    .container_nearby{
        padding: 30px 10px;
    }
    .location_nearby{
    
        flex-basis: calc(33% - 20px);
        margin: 10px;
        flex-grow: 1;
    }
    .col_specialita_content .specialita, .col_specialita_content .servizi{
        width: calc(50% - 10px);
        margin: 0;
    }

    .box_inevidenza {
        max-width: 50%;
    }
    .section{
       margin:30px 0 0 0;
    }
    .box_inevidenza{
        width: calc(50% - 20px);
        margin: 20px 10px;
    }
    .big_title{
        font-size: 30px;
        font-weight: 700;
    }

    .main_banner_info{
        padding: 20px;
    }

    .logo_gvm {
        height: 72px;
    }

    .logo_gvm img {
        height: 48px;
    }

    .header {
        height: 72px;
    }

 /*   .header_left {
        width: 60%;
    }*/


    .logo_gvm:before {
        right:-30px;
    }

    .header .svg-inline--fa.fa-w-6 {
        width: .375em;
    }

     .header .mr-md-2, .header .mx-md-2 {
        margin-right: .5rem !important;
    }

    .tagline {
        letter-spacing: -0.1px;
        max-width:
    }

        .tagline .facility-name {
            font-size: 1.16rem;
        }

        .tagline .facility-location {
            font-size: 1.25rem;
        }

    .mr-md-2, .mx-md-2 {
        margin-right: .5rem !important;
    }

    .header .spacer {
        max-width: 1110px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        background: #008dc9;
        align-items: center;
        max-height: 72px;
    }

    .header_left {
        padding: 0;
    }

    .header_right {
        flex-shrink: 0;
        padding: .875rem 0;
        padding-left: .25rem;
        width: auto;
        position: initial;
        background: transparent;
    }
    .titolo_descrizione_lunga{
        font-size: 2em;
    }

    .immagine_cartina{
        height: 100%;
    }
    .container_descrizione{
        padding: 20px 20px;
    }
    .box_informazioni{
        padding:20px 0;
    }
    .box_informazioni_link{
        padding-right: 0;

    }
    .sidebar_lista_link{
        border:none;
    }
    .box_informazioni_link{
        border-left: 1px #EEE solid;
    }

    .box_orari{
        padding: 20px;
    }
    .col_specialita_image{
        height: 350px;
    }
    .col_specialita_content{
        padding: 20px 10px;
    }
}



@media (min-width:992px) {
    
    .footer-links>div>span, .footer-links>div>a, .footer-links>.order-lg-2>a {
        display: inline-block;
        margin: .25rem 1rem 0 0;
    }
    .footer-links {
        display:flex;
        justify-content:space-between; 
        padding-top: .75rem;
    }
    .footer-links>div {
        text-align: left;
        display: block;
        }
    .footer-links>:first-child {
        text-align: right;
        margin-right: -1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    .order-lg-3 {
        -ms-flex-order: 3;
        order: 3;
        }
    .col_specialita_content{
        width:50%;
        padding: 30px;
    }
    .col_specialita_image{
        width:50%;
        padding-bottom: 0;
        height: auto;
        min-height: 350px;
    }
    .box_inevidenza{
        width: calc(25% - 20px);
        margin: 20px 10px;
        flex-grow: 1;
    }
    .box_inevidenza .bg_box{
        padding-bottom: 50%;
    }

    .main_banner_info{
        padding: 30px;
    }
    .big_title{
        font-size: 32px;
    }

    .container{
        max-width: 1100px;
    }
    .header_right {
        /*display: flex;*/
    }

    .header_sticky {
      /*  display: none;*/
    }

    .logo_gvm {
        margin-right: 1rem;
    }

    .tagline .facility-location {
        font-size: 1.125rem;
    }

    .tagline .facility-name {
        font-size: 1.1875rem;
    }
    .box_orari{
        padding: 30px;
    }
    .trigger {
        flex-direction: row;
        font-size: 1rem;
        text-transform: none;
        box-shadow: 0 0 10px 0 rgba(19,72,95,.3);
        padding: .5rem 1rem;
        letter-spacing: .5px;
        /* padding: .375rem 1.25rem; */
        border-color: transparent;
        border-width: 2px;
        border-radius: 2.5rem;
    }

    .section_main_banner{
        padding:0;
    }
    .section_location_details{
        padding: 0 0 0 0;
    }
    .trigger_prenota {
    }

    .trigger_struttura {
        border-color: #fff;
        background: #FFF;
        color: #008dc9;
        margin-left: 20px;
    }

    .main_banner_links a:first-child{
        width: 42%;
    }
    .main_banner_links a{
        width: 58%;
    }
}

@media (min-width:1200px) {
    .tagline .facility-location {
        font-size: 1.25rem;
    }

    .tagline .facility-name {
        font-size: 1.625rem;
    }
    .main_banner_image{
        min-height: 360px;
    }
}


.lp-subparam-getDirectionsLabel{
    margin-top: 10px;
    font-size: 14px;
}
.lp-subparam-getDirectionsLabel p {
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.lp-subparam-getDirectionsLabel p:before{
    content:"▶︎"; 
    margin-right: 3px;
    display: inline-block;
}
.lp-subparam-getDirectionsLabel p:hover{
    color:#00405c;
}
.lp-subparam-cardTitle a{
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}
.c-address-country-name{
    display: none;
}
.lp-subparam-cardTitle a:hover{
    color:#00405c;
    text-decoration: none; 
}
.lp-subparam-hours{
    margin-bottom: 10px;
}

.lp-subparam-hours{
    font-size: 14px;
    font-style: italic;
}

.c-AddressRow{
    font-size: 14px;
}

.lp-subparam-availability{
    display: none;
}

.result.border{
    transition: all 0.3s ease-in-out;
}
.result.border.selected{
    background: rgba(0,141,201,0.1);
    /* border-color: #008dc9; */
    border-color:rgba(0,141,201,0.1);
}


@tailwind utilities;