@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.15;
}

/* Header Styline */

.topnav #myLinks {
    display: none;
}

.headerLink {
    @apply font-semibold; 
}

/* Map Styling */

.error-text {
    padding-bottom: 10px;
    color: red;
}

#openorclosed{
    text-transform: uppercase;
    color: #008dc9;
    font-weight: bold;
    font-family:pt-sans-narrow,sans-serif;
}

.text-bold{
    font-weight: bold;
}

#map {
    background-color: #e9ecef;
    flex-grow: 1;
    width: 100%;
}

.search-center {
    margin-top: 1rem;
}

.directions {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.header-section {
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.result {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
}

.right-column {
    display: flex;
    align-items: center;
}

.center-column {
    flex-grow: 1;
}

.name {
    font-weight: bold;
}

.left-column {
    width: 2em;
}

.panel {
    display: flex;
    flex-direction: column;
    @apply bg-gray-50;
    width: 700px;
    overflow: hidden;
}

.result-list {
    overflow-x: hidden;
}

.search-bar {
    display: flex;
}

.search-location-arrow {
    cursor: pointer;
}

.search-bar-icon {
    cursor: pointer;
}

.search {
    margin-left: 0.5rem;
}


.full-width-locator {
    width: 100%;
    display: flex;
}

.spinner {
    margin: 2rem 0;
    min-height: 40px;
}

.form label {
    @apply text-sm mt-4 block mb-1;
}

.form input {
    @apply border border-ll-blue w-full block py-1 px-2;
}

.form select {
    @apply border border-ll-blue w-full block py-1 px-2;
}

.title-narrow {
    font-family: pt-sans-narrow,sans-serif;
    text-transform:uppercase;
}


/* Body Styling */

body {
    @apply bg-white text-ll-blue;
    background: #EEE;
    font-family: proxima-nova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #555;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

h4 {
    @apply text-lg font-bold;
}

.hero {
    background: url(images/luxurystore.jpeg);
    background-position: center;
}

.centered-container {
    @apply mx-auto px-5 md:px-14 max-w-screen-xl; 
}

.skeleton {
    @apply bg-gray-300 animate-pulse rounded-sm;
}

h2.section-header {
    @apply border-b pb-2 mb-3;
}

.section {
   margin:20px 0 0 0;
   padding:0;
}

.btn {
    @apply border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg text-center focus:outline-none flex gap-2 items-center justify-center;
}

.btn-primary {
    @apply bg-ll-red text-white border-ll-red focus:ring-2 focus:bg-red-900;
}

.btn-secondary {
    @apply text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100;
}

.btn-link {
    @apply hover:bg-gray-100 focus:ring-2 focus:bg-gray-100;
}

.button-blue {
    display: inline-flex;
    background: #008dc9;
    font-family: proxima-nova, sans-serif;
    color: #FFF;
    font-weight: 600;
    margin: 10px 0;
    border-radius: 100px;
    padding: 10px 24px;
    transition: 0.3s;
}

.error-text {
    padding-bottom: 10px;
    color: red;
}

.header {
    background: linear-gradient(to right, #fff 50%, #008dc9 50%);
}

.header_sticky {
  /*  display: flex;*/
}

.sticky{
    z-index: 100;
}



.header .spacer {
    max-width: 1110px;   
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    flex-wrap: wrap; 
    background: #008dc9;  
    align-items: center;
}

.header_left {
    display: flex;
    flex-grow: 1;
    padding: 0 .5rem;
}

.logo_gvm{
    position: relative;
    padding: 10px 0;
    margin-right: .5rem;
    display: block;
    margin-left: 0;
}
.logo_gvm img{    
    z-index: 1;
    position: relative;
    width: auto;
}

.logo_gvm:before{
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: -20px;
    right: -20px;
    transform: skewX(20deg);
    transform-origin: bottom left;
    background-color: #fff;
}
.header .tagline{
    color: #fff;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: .25rem 0;
    font-family: pt-sans-narrow,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}
.header .tagline>svg,.header .tagline>.fas{
    color: #ffce00;
}
.header .fa-2x {
    font-size: 2.5em;
}

.header .svg-inline--fa.fa-w-6 {
    width: .27em;
}

.header .mr-1, .header .mx-1 {
    margin-right: .25rem!important;
}

/*
.main_banner_container .spacer{
    max-width: 1110px;
    margin: 0 auto;
    width: calc(100% - 30px);
}*/

.header .spacer {
    margin: 0 auto;
    width:100%;
}

.header .tagline .facility-name {
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.header_right {
  /*  display:none; */
}

.header_sticky {
    width: 991px;
    background: linear-gradient(to bottom,#0d384b,#00405c 30%,#165e93);
}

.trigger {
    font-family: proxima-nova,sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
}

.trigger .menu-label {
    font-size: .625rem;
    letter-spacing: 1px;
    margin-top: .25rem;
    font-weight:300;
}


.trigger_prenota {
    background-color: #0ea80e;   
}

.svg-inline--fa {
/*    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;*/
}

.sidebar_lista_link{
    border:1px #EEE solid;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}

.sidebar_lista_link a{
    display: block;
    /* background: #008dc9; */
    font-family: proxima-nova, sans-serif;
    color:#008dc9;
    font-weight: 600;
    margin: 0px 0;
    /* border-radius: 100px; */
    padding:5px 0px;
    transition: 0.3s;
}
.sidebar_lista_link a:hover{
    opacity: 0.7;
}
.sidebar_lista_link .button_prenota{
    background: #0ea80e;
}
.sidebar_lista_link svg{

}

.titolo_descrizione_lunga{
    color: #23475D;
}
.descrizione_lunga p{
    margin-bottom: 10px;
}

.immagine_cartina {
    background-position: center center;
    background-size:cover;
    height: 200px;
}
/* SPECIALITA CORRELATE */
.link_specialita {
    background: #FFF;
    display: block;
}

.background_specialita{
    /* background: rgba(234,243,249,0.8); */
}

/* INIZIATIVE CORRELATE */

.intro{
    width: 100%;
    text-align: left;
    padding: 0;
}
.intro h2{
   padding-left: 15px; 
}

.col_iniziativa_link{
    display: block;
    transition: 0.3s;
}

.col_iniziativa_link:hover{
    background: rgba(19,72,95,.05);
}

.background_iniziative{
    background: #FFF;
}

.col_iniziativa_title{
    color:#008dc9;
    padding: 10px 0 5px 0;
    line-height: 1.1em;
}
.col_iniziativa_description{
    font-size: 14px;
}
.col_iniziativa_image{
    height: 120px;
    background-position: center center;
    background-size: cover;
}
.col_iniziativa_fake_link{
    font-weight:bold;
    font-size: 14px;
    color: #00405c;
    margin-top: 10px;
}


.main_banner_links a{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.main_banner_links a span{
    font-size: 13px;
}
.main_banner_links strong{
    color:#008dc9;
    display: block;
    font-size: 16px;
}
.main_banner_links span{
    display: block;
}
.main_banner_links div{
    line-height: 1;
}
.main_banner_links svg{
    color:#008dc9;
    margin-right: 10px;
    font-size: 28px;
}

.main_banner_info{
    background: #FFF;
    padding: 20px 15px;
}

.box_cartina_orari{
    background:#FFF;    
}

.box_informazioni{
    background: #FFF;
}

.box_informazioni_link{
    padding:0 15px 15px 15px;
}

.container_descrizione{
    padding: 20px 15px 0 15px;
}

.dati_struttura_governance{
    padding-top: 20px;
}

.narrow_title{
    font-family: pt-sans-narrow,sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 25px;
    line-height: 1em;
}

.big_title{
    color: #0d384b;
    text-transform: uppercase;
    line-height: 1;
    font-size: 24px;
}

.via_struttura{
    text-transform: uppercase;
    color: #008dc9;
    font-weight: normal;
    font-family: pt-sans-narrow,sans-serif; 
    line-height: 1em;
    margin-bottom: 15px;
}

.hours strong{
    font-weight: normal;
    text-transform: capitalize;
}

.box_orari{
    padding: 15px;
}

.link_specialita{
    margin-top: 10px;
}
.link_specialita:first-child{
    margin-top: 0; 
}

.link_specialita .text{
    padding: 15px;
}


.box_inevidenza {
    width: 100%;
    background: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 40px;
    max-width: 50%;
}

.box_inevidenza .bg_box {
    height:150px;
    width:100%;
    background-size: cover;
    background-position: center center;
}

.giorno_attivo{
    font-weight: bold !important;
}

.box_inevidenza .content {
    padding: 15px 20px;
}

.title_inevidenza {
    font-family: proxima-nova, sans-serif;
    color: #008dc9;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom:10px;
}

.link_inevidenza {
    display: block;
    font-family: proxima-nova, sans-serif;
    color: #008dc9;
    font-weight: 600;
    margin-top:15px;
    position: absolute;
    bottom: 20px;
}

.link_inevidenza span {
    margin-left:5px;
}

/* Media Queries */
@media (min-width:360px) {
    .tagline .facility-name, .tagline .facility-location {
    font-size: 1rem;
}
}

@media (min-width:375px) {
    .logo_gvm img {
        height: 32px;
    }
    .box_inevidenza .bg_box{
        height: 200px;    
    }
}
 
@media (min-width:768px) {
    .section{
       margin:30px 0 0 0;
    }
    .box_inevidenza{
        width: calc(50% - 20px);
        margin: 20px 10px;
    }
    .big_title{
        font-size: 30px;
    }

    .main_banner_info{
        padding: 20px;
    }

    .logo_gvm {
        height: 72px;
    }

    .logo_gvm img {
        height: 48px;
    }

    .header {
        height: 72px;
    }

 /*   .header_left {
        width: 60%;
    }*/


    .logo_gvm:before {
        right:-30px;
    }

    .header .svg-inline--fa.fa-w-6 {
        width: .375em;
    }

     .header .mr-md-2, .header .mx-md-2 {
        margin-right: .5rem !important;
    }

    .tagline {
        letter-spacing: -0.1px;
        max-width:
    }

        .tagline .facility-name {
            font-size: 1.16rem;
        }

        .tagline .facility-location {
            font-size: 1.25rem;
        }

    .mr-md-2, .mx-md-2 {
        margin-right: .5rem !important;
    }

    .header .spacer {
        max-width: 1110px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        background: #008dc9;
        align-items: center;
        max-height: 72px;
    }

    .header_left {
        padding: 0;
    }

    .header_right {
        flex-shrink: 0;
        padding: .875rem 0;
        padding-left: .25rem;
        width: auto;
        position: initial;
        background: transparent;
    }
    .titolo_descrizione_lunga{
        font-size: 2em;
    }

    .immagine_cartina{
        height: 100%;
    }
    .container_descrizione{
        padding: 20px 20px;
    }
    .box_informazioni{
        padding:20px 0;
    }
    .box_informazioni_link{
        padding-right: 0;

    }
    .sidebar_lista_link{
        border:none;
    }
    .box_informazioni_link{
        border-left: 1px #EEE solid;
    }

    .box_orari{
        padding: 20px;
    }
}



@media (min-width:992px) {
    
    .box_inevidenza{
        width: calc(25% - 20px);
        margin: 20px 10px;
        flex-grow: 1;
    }
    .box_inevidenza .bg_box{
        padding-bottom: 50%;
    }

    .main_banner_info{
        padding: 30px;
    }
    .big_title{
        font-size: 32px;
    }

    .container{
        max-width: 1100px;
    }
    .header_right {
        /*display: flex;*/
    }

    .header_sticky {
      /*  display: none;*/
    }

    .logo_gvm {
        margin-right: 1rem;
    }

    .tagline .facility-location {
        font-size: 1.125rem;
    }

    .tagline .facility-name {
        font-size: 1.1875rem;
    }
    .box_orari{
        padding: 30px;
    }
    .trigger {
        flex-direction: row;
        font-size: 1rem;
        text-transform: none;
        box-shadow: 0 0 10px 0 rgba(19,72,95,.3);
        padding: .5rem 1rem;
        letter-spacing: .5px;
        /* padding: .375rem 1.25rem; */
        border-color: transparent;
        border-width: 2px;
        border-radius: 2.5rem;
    }

    .section_main_banner{
        padding:0;
    }
    .section_location_details{
        padding: 0 0 0 0;
    }
    .trigger_prenota {
    }

    .trigger_struttura {
        border-color: #fff;
        margin-left: 20px;
    }

    .main_banner_links a:first-child{
        width: 42%;
    }
    .main_banner_links a{
        width: 58%;
    }
}

@media (min-width:1200px) {
    .tagline .facility-location {
        font-size: 1.25rem;
    }

    .tagline .facility-name {
        font-size: 1.625rem;
    }
}


@tailwind utilities;