@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.15;
}

/* Header Styline */

.topnav #myLinks {
    display: none;
}

.headerLink {
    @apply font-semibold;
}


/* Map Styling */

.error-text {
    padding-bottom: 10px;
    color: red;
}

#map {
    background-color: #e9ecef;
    flex-grow: 1;
    width: 100%;
}

.search-center {
    margin-top: 1rem;
}

.directions {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.header-section {
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
}

.result {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    justify-content: space-between;
}

.right-column {
    display: flex;
    align-items: center;
}

.center-column {
    flex-grow: 1;
}

.name {
    font-weight: bold;
}

.left-column {
    width: 2em;
}

.panel {
    display: flex;
    flex-direction: column;
    @apply bg-gray-50;
    width: 700px;
    overflow: hidden;
}

.result-list {
    overflow-x: hidden;
}

.search-bar {
    display: flex;
}

.search-location-arrow {
    cursor: pointer;
}

.search-bar-icon {
    cursor: pointer;
}

.search {
    margin-left: 0.5rem;
}


.full-width-locator {
    width: 100%;
    display: flex;
}

.spinner {
    margin: 2rem 0;
    min-height: 40px;
}

.form label {
    @apply text-sm mt-4 block mb-1;
}

.form input {
    @apply border border-ll-blue w-full block py-1 px-2;
}

.form select {
    @apply border border-ll-blue w-full block py-1 px-2;
}

.title-narrow {
    font-family: pt-sans-narrow,sans-serif;
    text-transform:uppercase;
}


/* Body Styling */

body {
    @apply bg-white text-ll-blue;
    font-family: proxima-nova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #555;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}

h3 {
    @apply text-lg font-bold;
}

h4 {
    @apply text-lg font-bold;
}

.hero {
    background: url(images/luxurystore.jpeg);
    background-position: center;
}

.centered-container {
    @apply mx-auto px-5 md:px-14 max-w-screen-xl; 
}

.skeleton {
    @apply bg-gray-300 animate-pulse rounded-sm;
}

h2.section-header {
    @apply border-b pb-2 mb-3;
}

/*.section {
    @apply mt-8 mb-16;
}*/

.btn {
    @apply border px-4 py-2 rounded transform hover:-translate-y-1 ease-in-out transition-all cursor-pointer hover:shadow-lg text-center focus:outline-none flex gap-2 items-center justify-center;
}

.btn-primary {
    @apply bg-ll-red text-white border-ll-red focus:ring-2 focus:bg-red-900;
}

.btn-secondary {
    @apply text-ll-red border-ll-red hover:bg-white focus:ring-2 focus:ring-ll-red focus:bg-red-100;
}

.btn-link {
    @apply hover:bg-gray-100 focus:ring-2 focus:bg-gray-100;
}

.error-text {
    padding-bottom: 10px;
    color: red;
}

.header {
    background: linear-gradient(to right, #fff 50%, #008dc9 50%);
}

.header_sticky {
  /*  display: flex;*/
}

.header .spacer {
    max-width: 1110px;   
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    flex-wrap: wrap; 
    background: #008dc9;  
    align-items: center;
}

.header_left {
    display: flex;
    flex-grow: 1;
    padding: 0 .5rem;
}

.logo_gvm{
    position: relative;
    padding: 10px 0;
    margin-right: .5rem;
    display: block;
    margin-left: 0;
}
.logo_gvm img{    
    z-index: 1;
    position: relative;
    width: auto;
}

.logo_gvm:before{
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: -20px;
    right: -20px;
    transform: skewX(20deg);
    transform-origin: bottom left;
    background-color: #fff;
}
.header .tagline{
    color: #fff;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: .25rem 0;
    font-family: pt-sans-narrow,sans-serif;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
}
.header .tagline>svg,.header .tagline>.fas{
    color: #ffce00;
}
.header .fa-2x {
    font-size: 2.5em;
}

.header .svg-inline--fa.fa-w-6 {
    width: .27em;
}

.header .mr-1, .header .mx-1 {
    margin-right: .25rem!important;
}

/*
.main_banner_container .spacer{
    max-width: 1110px;
    margin: 0 auto;
    width: calc(100% - 30px);
}*/

.header .spacer {
    margin: 0 auto;
    width:100%;
}

.header .tagline .facility-name {
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.header_right {
  /*  display:none; */
}

.header_sticky {
    width: 991px;
    background: linear-gradient(to bottom,#0d384b,#00405c 30%,#165e93);
}

.trigger {
    font-family: proxima-nova,sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
}

    .trigger .menu-label {
        font-size: .625rem;
        letter-spacing: 1px;
        margin-top: .25rem;
        font-weight:300;
    }


.trigger_prenota {
    background-color: #0ea80e;   
}

.svg-inline--fa {
/*    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;*/
}



/* Media Queries */

@media (min-width:360px) {
    .tagline .facility-name, .tagline .facility-location {
        font-size: 1rem;
    }
}

@media (min-width:375px) {
    .logo_gvm img {
        height: 32px;
    }
}
 
@media (min-width:768px) {


    .logo_gvm {
        height: 72px;
    }

    .logo_gvm img {
        height: 48px;
    }

    .header {
        height: 72px;
    }

 /*   .header_left {
        width: 60%;
    }*/


    .logo_gvm:before {
        right:-30px;
    }

    .header .svg-inline--fa.fa-w-6 {
        width: .375em;
    }

     .header .mr-md-2, .header .mx-md-2 {
        margin-right: .5rem !important;
    }

    .tagline {
        letter-spacing: -0.1px;
        max-width:
    }

        .tagline .facility-name {
            font-size: 1.16rem;
        }

        .tagline .facility-location {
            font-size: 1.25rem;
        }

    .mr-md-2, .mx-md-2 {
        margin-right: .5rem !important;
    }

    .header .spacer {
        max-width: 1110px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        background: #008dc9;
        align-items: center;
        max-height: 72px;
    }

    .header_left {
        padding: 0;
    }

    .header_right {
        flex-shrink: 0;
        padding: .875rem 0;
        padding-left: .25rem;
        width: auto;
        position: initial;
        background: transparent;
    }
}

@media (min-width:992px) {
    .header_right {
        /*display: flex;*/
    }

    .header_sticky {
      /*  display: none;*/
    }

    .logo_gvm {
        margin-right: 1rem;
    }

    .tagline .facility-location {
        font-size: 1.125rem;
    }

    .tagline .facility-name {
        font-size: 1.1875rem;
    }

    .trigger {
        flex-direction: row;
        font-size: 1rem;
        text-transform: none;
        box-shadow: 0 0 10px 0 rgba(19,72,95,.3);
        padding: .5rem 1rem;
        letter-spacing: .5px;
        /* padding: .375rem 1.25rem; */
        border-color: transparent;
        border-width: 2px;
        border-radius: 2.5rem;
    }



    .trigger_prenota {
    }

    .trigger_struttura {
        border-color: #fff;
        margin-left: 20px;
    }

    
}

@media (min-width:1200px) {
    .tagline .facility-location {
        font-size: 1.25rem;
    }

    .tagline .facility-name {
        font-size: 1.625rem;
    }
}


@tailwind utilities;